body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.content-grid {
  padding: 0px;
  width: 100%;
  background-color: #a2b2e9;
}

.content-text {
  padding: 10%;
  text-align: center;
}

.content-pic {
  height: 100%;
}

body, html {
  font-family: "Noto Sans";
  font-weight: normal;
  font-style: normal;
}
  
.title {
  font-family: "Raleway";
  font-weight: 600;
  font-style: normal;
}
  
.secondary-title{
  font-family: "Merriweather";
  font-weight: normal;
  font-style: normal;
}

.card {
  padding-right: 3%;
  padding-top: 10%;
  border-radius: 3px;
  border-color: #B7B7B7;
  border-width: 10px;
}